.header {
background-color: black;
background-image: url('./../img/bg.jpg');
background-position: 50%;
width:100%;
}


.header__menu {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
align-self: flex-start;
width: 100%; 
position: absolute;}

.header-menu__content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
flex-flow: row;
align-self:center;
height: rem(90px);
margin: 0 auto;
width: rem(960px); 
    @include tablets {
    // width: 96%; 
    }
    @include phones {
        width: 100%; 
        }
}

.logo {
display: flex;
align-content: flex-start;
justify-content: flex-start;
padding: auto;
margin-top: rem(10px);
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
z-index: 99;
width: rem(960px); 

    @include tablets {
        width: 100%; 
    }
    @include phones {
       margin:rem(12px);
    
}
}

.logo a {
display: block; }

.logo__img {
margin: 0;
padding: rem(10px) rem(8px);
}

.nav {
display: flex;
padding: rem(25px) rem(8px); 
@include tablets {
display:none;
flex-flow: column;
flex-wrap: wrap;
position: absolute;
margin:0;
width:100%;
height:100vh;
background-color: rgba(#2f3234, 0.98);
justify-content: center;
align-items:center;
text-align: center;
z-index:99;
    }
}

.burger-button{
display: none;
z-index:1000;
@include tablets {
   
    display:flex;
    align-self: center;
    justify-self: center;
    margin:0 rem(18px);
    
    }
}


.nav__ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
font-size: rem(13px);
text-transform: uppercase;
color: #ffffff;
line-height: 1.2; 
@include tablets {
 flex-direction: column;
 padding-inline-start:0;
 font-size: rem(13px);
}
}

.nav__li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin: auto 0;
text-align: center;
justify-content: center;
a
{text-decoration: none;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;

text-transform: uppercase;
color: #ffffff;
line-height: 1.2; 
text-align: center;
} 
@include tablets {
    flex-direction: column; 
    font-size: rem(24px);
}
}

.nav__li::after {
content: "•";
padding:  0 rem(17px); 
@include tablets {
font-size: rem(24px);
padding: rem(7px) 0; 
display:flex;
flex-wrap:wrap;
justify-content: center;
}
}

.nav__li:last-of-type:after {
display: none; }

.button {
display: -webkit-box;
display: -ms-flexbox;
display: flex; }

.header__btn {
background-color: $orange;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
margin: auto rem(10px); }

.header__btn:hover {
background-color: #c1401e; }

.header__container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
justify-content: center;
height: 100vh;
width:100%;
}

.header-container__block {
margin-top:rem(-16px);
width: rem(960px);
display: flex; 
align-items: center;
justify-items: center;
@include tablets {
flex-direction: column;
margin:0;
}
}

.header-container__item {
max-width: 50%; 
padding:0;
@include tablets {
    max-width: 100%; 
    margin:5px 60px;
    text-align: center;
    h1{
        margin:0;
    }
    h2{
        margin-top:20px;
    }
    }
}


.container__img {
width: rem(455px);
padding: rem(15px) rem(10px);
margin: rem(-43px) rem(10px) 0 rem(15px); 
@include tablets {
    margin-top: rem(-75px);
@include phones {
    margin: 20px 0;
    padding:0;
    width: 100%;
}
}
}



